.credit{
    vertical-align:top;
    display: inline-block;
    height: 150px;
    width: 200px;
    text-align: center;
    padding-left: 10px;
}

#credit-container h1{
    margin-bottom: 20px
}

.credit ul{
    margin: 0px;
}

.credit li{
    margin: 0px;
    list-style-type: none;
    font-size: medium;
}