.top-hero h1 {
    color: #eeeeee;
}
.top-hero p {
    color: #eeeeee;
    text-align: left;
}

.home-hero-1 {
    background-color: #f9ded7;
    color: white;
    padding: 4rem 2rem;
    border-radius: 0;
}
.home-hero-1 h1 {
    color: #264653;
}
.home-hero-1 p {
    color: #111111;
}

.home-hero-2 {
    background-color: #2a9d8f;
    color: #eeeeee;
    padding: 4rem 2rem;
    border-radius: 0;
}
.home-hero-2 h1 {
    color: #264653;
}