.navbar-messages {
    background-color: #2a9d8f !important;
}

.message-container{
    padding: 0 5.0875rem 1.45rem;
    max-width: 1660;
}

@media (max-width: 975px) {
    .message-container{
        padding: 0 1rem 1.45rem;
        max-width: 1660;
    }    
}