.toolTip{
    position: absolute;
    z-index: 1;
    background: rgb(119, 128, 0);
    height: 500px;
    width: 500px;
    padding: 8px;
    font-size: 13px;
    color: #fff;
    visibility: hidden;
    top:10px;
    left:0px;
  }