#toolTip{
    position: fixed;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.9);
    font-size: 13px;
    height: 100%;
    width: 100%;
    visibility: hidden;
  }

.imageDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  z-index: 2001;
  width: 50%;
  padding: 10px;
  height: 60%;
  width: 60%;
  background: #ffffff;
}

#image{
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  margin: auto;
  display: block;
}

#tooltip-image-div{
  height: 50%;
  text-align: center;
}

#tooltip-image{
  max-height: 100%;
}

#tooltip-message{
  height: 90%;
  color: #212529;
  color: #eeeeee;
}

#tooltip-author{
  color: #eeeeee;
}