.toolTip{
    position: absolute;
    z-index: 1;
    background: #f9ded7;
    padding: 8px;
    font-size: 13px;
    color: #fff;
    height: 800px;
    width: 700px;
    top:100px;
    left:10px;
  }

.tooltip-image-div{
  height: 50%;
  text-align: center;
}

.tooltip-image{
  max-height: 100%;
}